.panel_single{
		color: white;
		padding: 12px;
		min-width: 90px;
		min-height: 90px;

	}
	.judul_panel_single {
		background-color: #162844;
		height: 45px;
		padding-left: 8px;
		padding-top: 3px;
		border-radius: 3px;
		min-width: 100px;
	}
	.isi_panel_single {
		background-color: white;
		color: black;
		border: 0.5px solid #337ab7;
		padding-left: 8px;
		padding-top: 7px;
		border-radius: 4px;
	}
	.comment{
		color: black;
		padding: 12px;
		min-width: 90px;
		min-height: 90px;
		margin-left: 15px;

	}
	#komentar{
		color: black;
	}
	#tag {
		color: blue;
		padding-left: 3px;
	}
	#tag_single {
		padding-left: 7px;
	}
	#judul_single {
		font-size: 20px;
		color: white;
		padding-left: 7px;
	}
	#isi_single {
		color: black;
		padding-left: 7px;
	}
	textarea {
		border: 0.5px solid #337ab7;
	}
	input[type=submit]{
		text-align: center;
		width: 200px;
		height: 40px;
		font-size:17px;
		background-color: #162844;
		transition: background-color .5s;
		border: none;
		border-bottom: 4px solid transparent;
		color: white;
		border-radius: 4px; 
		cursor: pointer;
	}